{% extends 'tusk/base.html' %}
{% load static %}

{% block title %}
<title>{{ title }}</title>
{% endblock title %}

{% block content %}
<h3>{{ tusk.title }}</h3>
<p>{{ tusk.text }}</p>
<form action="{% url 'update_post' tusk.id %}" method="post">
    {% csrf_token %}
    <h3>Обновить задачу</h3>
    <label for="{{ form.title.id_for_label }}">Заголовок:</label>
    {{ form.title }}
    <label for="{{ form.text.id_for_label }}">Текст:</label>
    {{ form.text }}
    <br>
    <button type="submit">Отправить</button>
</form>
{% endblock content %}