{% extends 'tusk/base.html' %}
{% load static %}

{% block title %}
<title>{{ title }}</title>
{% endblock title %}

{% block content %}
{% if tusk %}
    {% for i in tusk %}
    <h3>{{ i.title }}</h3>
    <p>{{ i.text }}</p>
    <p>{{ i.time_create }}</p>
    <p>{{ i.author }}</p>
    <form method="POST" action="{% url 'delete_post' i.pk %}">
        {% csrf_token %}
        <button type="submit">Удалить</button>
    </form>
    <a href="{% url 'update_post' i.pk %}">Change</a>
    <hr>
    {% endfor %}
{% else %}
    <h3>У тебя пока нету задач</h3>
{% endif %}
{% endblock content %}