{% extends 'tusk/base.html' %}
{% load static %}

{% block title %}
<title>{{ title }}</title>
{% endblock title %}

{% block content %}
<section class="profile">
    <h2>Личный профиль</h2>
    <div class="profile-details">
        <ul>
            <li>Имя пользователя: <span>{{ user.username }}</span></li>
            <li>Email: <span>{{ user.email }}</span></li>
            <li>Phone number: <span>{{ user.phone }}</span></li>
            <li>Очки: {{ user.point }}</li>
        </ul>
<!--        <button class="change-password-btn">Изменить пароль</button>-->
<!--        <button class="logout-btn">Выйти</button>-->
    </div>
    <div class="change-password">
        <h3>Изменить никнейм</h3>
        <form action="{% url 'profile' %}" method="post">
            {% csrf_token %}
            <label for="{{ form.username.id_for_label }}">Новый никнейм:</label>
            {{ form.username }}
            <label for="{{ form.email.id_for_label }}">Новая почта:</label>
            {{ form.email }}
            <label for="{{ form.phone.id_for_label }}">Новый номер телефона:</label>
            {{ form.phone }}
            <button type="submit">Изменить</button>
        </form>
    </div>
</section>
{% endblock content %}