{% extends 'tusk/base.html' %}
{% load static %}

{% block content %}
<section class="profile">
    <h2>Личный профиль</h2>
    <div class="profile-details">
        <ul>
            <li>Имя пользователя: <span>JohnDoe</span></li>
            <li>Email: <span>johndoe@example.com</span></li>
        </ul>
        <button class="change-password-btn">Изменить пароль</button>
        <button class="logout-btn">Выйти</button>
    </div>
    <div class="change-password">
        <h3>Изменить пароль</h3>
        <form>
            <label for="old-password">Старый пароль</label>
            <input type="password" id="old-password" name="old-password" required>
            <label for="new-password">Новый пароль</label>
            <input type="password" id="new-password" name="new-password" required>
            <label for="confirm-password">Подтвердите пароль</label>
            <input type="password" id="confirm-password" name="confirm-password" required>
            <button type="submit">Изменить</button>
        </form>
    </div>
</section>
{% endblock content %}