{% extends 'tusk/base.html' %}
{% load static %}

{% block content %}
<section class="register">
    <h2>Регистрация</h2>
    <form action="{% url 'register' %}" method="post">
        {% csrf_token %}
        <label for="{{ form.username.id_for_label }}">Имя пользователя</label>
        {{ form.username }}
        <label for="{{ form.phone.id_for_label }}">Телефон</label>
        {{ form.phone }}
        <label for="{{ form.email.id_for_label }}">Email</label>
        {{ form.email }}
        <label for="{{ form.password1.id_for_label }}">Пароль</label>
        {{ form.password1 }}
        <label for="{{ form.password2.id_for_label }}">Пароль</label>
        {{ form.password2 }}
        <button type="submit">Зарегистрироваться</button>
    </form>
</section>
{% endblock content %}